<!DOCTYPE html>
<html lang="en">
<head>

    <title>Title</title>
</head>
<body bgcolor="#99FFCC">
    <header>
        <div>
            <div style="float: left;width: 50%">
                <h1>Sound Share</h1>
            </div>
            <div style="float: left;width: 50%">
                <h2>User View</h2>
                <br/>
            </div>
        </div>
    </header>
    <main>
        <hr/>
        <h2>Salas</h2>
        <div>
            <div style="float: left;width: 20%">
                <h2>Amigos</h2>
                <ul>
                    <li style="color:green"> Luis (Online)</li>
                    <li style="color:red"> Fernando </li>
                    <li style="color:red"> Carlos </li>
                </ul>
            </div>
            <div style="float: left;width: 40%">
                <h2>Playlist</h2>
                <ol>
                    <li> Get Lucky - Daft Punk </li>
                    <li> Da Ba Dee - Eifeel 65 Blue </li>
                    <li> I Could Be The One - Avicii </li>
                </ol>
            </div>
            <div style="float: left;width: 40%">
                <h2>Chat</h2>
                <p>
                    Estamos trabajando en ello.
                </p>
                <img src="img/escuela-1.jpg" alt="Foto oceano" tittle="Foto oceano" width="300px"/>
            </div>
        </div>

    </main>


</body>
</html>