<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addroom</title>
    <link rel="icon" type="image/jpg" href="../img/logo3.png"/>
    <link rel="stylesheet" href="../css/regiEstilo.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="../js/apiclient.js"></script>
	<script src="../js/app.js"></script>
</head>
<body>
<header>
</header>
<main>
    <div class="limiter" id="register">
        <div>
            <div>
                <span class="login100-form-title p-b-26">
						<a href="../img/logo2.png">
							<img style="border-radius: 5px" src="../img/logo2.png" title="Logo">
						</a>
                        <a href="../img/addroom.png">
							<img  style="border-radius: 5px; height:75px" src="../img/addroom.png" title="addsong">
						</a>
					</span>
                <br>
            </div>
            <div id="tittle">
                <br>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="number" id="numero" name="numero">
                <span class="focus-input100" data-placeholder="id room"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" id="nombre" name="nombre">
                <span class="focus-input100" data-placeholder="name room"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" id="genero" name="genero">
                <span class="focus-input100" data-placeholder="room genre"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" id="tipo" name="tipo">
                <span class="focus-input100" data-placeholder="type room"></span>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" onclick="app.addRoom(numero.value,nombre.value,genero.value,tipo.value)">
                        create
                    </button>
                </div>
            </div>
            <br>
            <br>
            <a class="txt2" href="userScreen.html">
                previous
            </a>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>