<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/jpg" href="../img/logoECI_Dev.jpg"/>
    <link rel="stylesheet" href="../css/regiEstilo.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header>
</header>
<main>
    <div class="limiter" id="register">
        <div>
            <div>
                <span class="login100-form-title p-b-26">
						SoundShare
                </span>
                <br>
            </div>
            <div id="tittle">
                 <span class="login100-form-title p-b-48">
						Add Song
                </span>
                <br>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" id="nombre" name="nombre">
                <span class="focus-input100" data-placeholder="Nombre de la Cancion"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" id="autor" name="autor">
                <span class="focus-input100" data-placeholder="Autor de la Cancion"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" id="genero" name="genero">
                <span class="focus-input100" data-placeholder="Genero de la Cancion"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" id="url" name="url">
                <span class="focus-input100" data-placeholder="URL de la Cancion(Link de YouTube)"></span>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" onclick="">
                        continue
                    </button>
                </div>
            </div>
            <br>
            <br>
            <a class="txt2" href="../index.html">
                Log Out
            </a>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>