<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="icon" type="image/jpg" href="../img/logo3.png"/>
    <link rel="stylesheet" href="../css/estilo.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script src="../js/apiPlayerAudio.js"></script>
	<script src="../js/apiclient.js"></script>
	<script src="../js/app.js"></script>
</head>

<body id="admin" onload="app.printUserLogged()">
<header>
    <nav>
        <ul>
            <li> <a href="#"> Start </a></li>
            <li> <a href="#"> Music </a></li>
            <li> <a href="addSong.html"> Add Song </a></li>
            <li> <a href="../index.html"> Sign Out </a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="tittle">
        <img src="../img/logo3.png" style="width:5%" height="25%">
        <img src="../img/logo2.png" style="width:20%" height="25%">
    </div>
    <div id="todo">
        <h1 id="nick" align="left">Welcome hola Admin !</h1>
        <br>
         <div id ="menu-sala" >
            <h2 align="left">Your rooms </h2>
            <br>
            <a href="sala.html?id=35"><input id="room" type="button" value="Go to Room 1"></a>
			<br>
            <a href="sala.html?id=3"><input id="room" type="button" value="Go to Room 2"></a>
        </div>
        <div id ="menu-princi" >
            <h2 align="left">Your playlist </h2>
            <br>
            <input id="songFind" type="text" class="form-control" placeholder="Find your favorite playlist..."/>
        </div>
        <div id ="menu-friends"  >
            <h2 align="left">Your Friends </h2>
            <br>
            <input id="friends" type="text" class="form-control" placeholder="Find your friends..."/>
        </div>
    </div>
</main>
<footer>
    <div id ="menu-play">
        <div style="float: left;width: 10%">
            <button id="boton1" type="submit"  ><img src="../img/pass.png" alt="x"/></button>
        </div>
        <div style="float: left;width: 10%">
            <button id="youtube-audio" type="submit" ></button>
        </div>
        <div style="float: left;width: 10%">
            <button id="boton2" type="submit"><img src="../img/next.png" alt="x" /></button>
        </div>
        <div id= "menu-tittlesong">
            <input id="barraSong" type="text" class="form-control" placeholder="Find your favorite song..."/>
        </div>
        <div style="float: right;width: 5%">
            <button id="youtube-audio2" type="submit"  class="btn btn-primary" onclick="onYouTubeIframeAPIReady(barraSong.value)" ><img src="../img/buscar.png" alt="x"/></button>
        </div>
    </div>
</footer>
</body>
</html>