<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Prueba</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">

    <script src="js/apiPlayerAudio.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
<header>
    <font face="sans-serif" color="#138D75">
        <h1 align="left">Welcome to SoundShare</h1>
    </font>
    <font face="sans-serif" color="#084035">
        <h3 align="left">A social network for music lovers</h3>
    </font>
</header>
<main>
<div id ="menu-wrapper">
    <ul id="hmenu" >
        <li> <a href="#"> Inicio</a></li>
        <li> <a href="#"> Musica</a></li>
        <li> <a href="#"> Servicio</a></li>
        <li> <a href="#"> Amigos</a></li>
    </ul>
</div>
</main>
</body>
</html>