<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prueba</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script src="../js/apiPlayerAudio.js"></script>
</head>

<header>
    <nav>
        <ul>
            <li> <a href="#"> Start </a></li>
            <li> <a href="#"> Music </a></li>
            <li> <a href="../index.html"> Sign in </a></li>
            <li> <a href="../index.html"> Sign up </a></li>
        </ul>
    </nav>
</header>
<body>
    <br>
    <font color="#4C4C4C">
        <h1 align="left">Welcome to SoundShare</h1>
    </font>
    <br>
    <img src="../img/logo.png" width="25%" height="25%">
    <div class="row" id="menu-princi">
        <div >
            <table id="main">
                <thead>
                <tr>
                    <th scope="col">Song</th>
                    <th></th>
                    <th scope="col">Play</th>
                </tr>
                </thead>
                <tbody id="mainBody">
                <tr id="click">
                    <td>Duele verte</td>
                    <td></td>
                    <td><img src="../img/play2.png" alt="x"/> </td>
                </tr>
                <tr id="click2">
                    <td>Cancion2</td>
                    <td></td>
                    <td><img src="../img/play2.png" alt="x"/> </td>
                </tr>
                <tr id="click3">
                    <td>Cancion3</td>
                    <td></td>
                    <td><img src="../img/play2.png" alt="x"/> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id ="menu-sala" >
        <span style="color: #4C4C4C; ">
            <h1 align="left">Your playlist </h1>
        </span>
        <br>
        <input id="song" type="text" class="form-control" placeholder="Find your favorite song..."/>
    </div>
    <div id ="menu-play">
        <ul>
            <button id="boton1" type="submit"  ><img src="../img/pass.png" alt="x"/></button>
            <button type="submit" data-video="2LJg9UvoKvk" id="youtubeaudio"></button>
            <button id="boton2" type="submit"><img src="../img/next.png" alt="x" /></button>
        </ul>
    </div>
</body>

</html>