<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SingUp</title>
    <link rel="icon" type="image/jpg" href="../img/logo3.png"/>
    <link rel="stylesheet" href="../css/regiEstilo.css">
    <link rel="stylesheet" href="../css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="../js/apiclient.js"></script>
	<script src="../js/app.js"></script>
</head>
<body >
<header>
</header>
<main>
    <div class="limiter" id="register">
        <div>
            <div>
                <span class="login100-form-title p-b-26">
						<a href="../img/logo2.png">
							<img style="border-radius: 5px" src="../img/logo2.png" title="Logo">
						</a>
                        <a href="../img/addsong.png">
							<img  style="border-radius: 5px; height:100px" src="../img/register.png" title="register">
						</a>
					</span>
                <br>
            </div>
			<div class="wrap-input100 validate-input">
                <input class="input100" type="text" id="nombre" name="nombre">
                <span class="focus-input100" data-placeholder="Nombre"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                <input class="input100" type="text" id="nickname" name="nickname">
                <span class="focus-input100" data-placeholder="Nickname"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                <input class="input100" type="password" id="pass" name="pass">
                <span class="focus-input100" data-placeholder="Password"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                <input class="input100" type="password" id="confirmpass" name="confirmpass">
                <span class="focus-input100" data-placeholder="confirm password"></span>
            </div>
            <!--<p>Donde nos vió?<br/>
                <input type="radio" id="google" value="G" name="conocer">
                <label for="google">Google</label>
                <input type="radio" id="otro" value="O" name="conocer">
                <label for="otro">Otro</label>
            </p>
            <p>
                <label for="email_user">Comentarios:*</label>
                <br>
                <textarea name="comment" id="" cols="30" rows="3" required placeholder="Dejenos un comentario por favor."></textarea>
            </p>-->
            <div>
                <input type="checkbox" id="terminos" value="yes" required>
                <label for="terminos" style="color:#4C4C4C;">
                    Acepto los términos y condiciones
                </label>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" onclick="app.addUser(nombre.value,pass.value,nickname.value)">
                        continue
                    </button>
                </div>
            </div>
            <br>
            <a class="txt2" href="../index.html">
                Log Out
            </a>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>