<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <link rel="icon" type="image/jpg" href="../img/logo3.png"/>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet"  href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--<link rel="stylesheet"  href="css/main.css">-->

    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script src="../js/apiPlayerAudio.js"></script>
	<script src="../js/apiclient.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/websocket.js"></script>
</head>
<body onload="app.printUserLogged()">
<header>
    <nav>
        <ul>
            <li> <a href="#"> Start </a></li>
            <li> <a href="#"> Music </a></li>
            <li> <a href="addSong.html"> Add Song </a></li>
            <li> <a href="../index.html"> Sign Out </a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="tittle">
        <img src="../img/logo3.png" style="width:5%" height="25%">
        <img src="../img/logo2.png" style="width:20%" height="25%">
    </div>
    <div id="todo">
		<h1 id="nick" align="left">Welcome User !</h1>
        <div class="row" id="menu-songs">
            <h2 align="left">Your Songs </h2>
            <br>
            <div>
                <table id="main">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">nombre</th>
                        <th scope="col">genero</th>
                        <th scope="col">author</th>
                        <th scope="col">minuto</th>
                    </tr>
                    </thead>
                    <tbody id="mainBody">
                    <tr id="click">
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id ="menu-sala" >
            <h2 align="left">Your rooms </h2>
            <br>
            <a href="sala.html?id=35"><input id="room" type="button" value="Go to Room 1"></a>
			<br>
            <br>
            <a href="sala.html?id=3"><input id="room" type="button" value="Go to Room 2"></a>
        </div>
        <div id ="menu-princi" >
            <h2 align="left">Your playlist </h2>
            <br>
            <input id="songFind" type="text" class="form-control" placeholder="Find your favorite playlist..."/>
        </div>
    </div>
</main>
<footer>
    <div id ="menu-play">
        <div style="float: left;width: 10%">
            <button id="boton1" type="submit"  ><img src="../img/pass.png" alt="x"/></button>
        </div>
        <div style="float: left;width: 10%">
            <button id="youtube-audio" type="submit" ></button>
        </div>
        <div style="float: left;width: 10%">
            <button id="boton2" type="submit"><img src="../img/next.png" alt="x" /></button>
        </div>
        <div id= "menu-tittlesong">
            <input id="barraSong" type="text" class="form-control" placeholder="Find your favorite song..."/>
        </div>
        <div style="float: right;width: 5%">
            <button id="youtube-audio2" type="submit"  class="btn btn-primary" onclick="apiyoutube.onYouTubeIframeAPIReady(barraSong.value,0)" ><img src="../img/buscar.png" alt="x"/></button>
        </div>
    </div>
</footer>
</body>
</html>