<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <link rel="icon" type="image/jpg" href="../img/logoECI_Dev.jpg"/>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet"  href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--<link rel="stylesheet"  href="css/main.css">-->

    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script src="../js/apiPlayerAudio.js"></script>
	<script src="../js/apiclient.js"></script>
	<script src="../js/app.js"></script>
</head>

<body>
<header>
    <nav>
        <ul>
            <li> <a href="#"> Start </a></li>
            <li> <a href="#"> Music </a></li>
            <li> <a href="addSong.html"> Add Song </a></li>
            <li> <a href="../index.html"> Sign Out </a></li>
        </ul>
    </nav>
</header>
<main>
    <br>
    <span style="color: #4C4C4C; ">
    <h1 align="left">Welcome to SoundShare</h1>
    </span>
    <br>
    <img src="../img/logo.png" style="border-radius:20px;width:20%" height="25%">
    <div class="row" id="menu-sala">
        <div >
            <table id="main">
                <thead>
                <tr>
                    <th scope="col">Song</th>
                    <th></th>
                    <th scope="col">Play</th>
                </tr>
                </thead>
                <tbody id="mainBody">
                <tr id="click0">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="click">
                    <td>Duele verte</td>
                    <td></td>
                    <td><img src="../img/play2.png" alt="x"/> </td>
                </tr>
                <tr id="click2">
                    <td>Cancion2</td>
                    <td></td>
                    <td><img src="../img/play2.png" alt="x"/> </td>
                </tr>
                <tr id="click3">
                    <td>Cancion3</td>
                    <td></td>
                    <td><img src="../img/play2.png" alt="x"/> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>

    <div id ="menu-friends"  >
        <span style="color: #4C4C4C; ">
            <h2 align="left">Your Friends </h2>
              <br>
        <input id="friends" type="text" class="form-control" placeholder="Find your friends..."/>
        </span>
    </div>
</main>
<footer>
    <div id ="menu-play">
        <div style="float: left;width: 10%">
            <button id="boton1" type="submit"  ><img src="../img/pass.png" alt="x"/></button>
        </div>
        <div style="float: left;width: 10%">
            <button id="youtube-audio" type="submit" ></button>
        </div>
        <div style="float: left;width: 10%">
            <button id="boton2" type="submit"><img src="../img/next.png" alt="x" /></button>
        </div>
        <div id= "menu-tittlesong">
            <input id="barraSong" type="text" class="form-control" placeholder="Find your favorite song..."/>
        </div>
        <div style="float: right;width: 5%">
            <button id="youtube-audio2" type="submit"  class="btn btn-primary" onclick="onYouTubeIframeAPIReady(barraSong.value)" ><img src="../img/buscar.png" alt="x"/></button>
        </div>
    </div>
</footer>
</body>
</html>