* {
    margin:0;
    padding:0;
}

header {
    width:100%;

}

nav{

    margin:0px;
    width:100%;
    max-width:1400px;
}

nav ul {
    list-style:none;
}

nav ul li :hover{
    color:#EDBB99;
    background-color: #212F3C;
    text-shadow: 0 0 2px #000;
}

nav > ul {
    display:table;
    overflow:hidden;
    width:100%;
    background: #17202A;
    position:relative;
}

nav > ul li {
    display:table-cell;
}

nav > ul li a {
    color: #99A3A4;
    display:block;
    padding: 10px 5px;
    line-height:20px;
    position:relative;
    text-align:center;
    text-decoration:none;
}

nav > ul > li > ul > li a:hover {
    background:#5da5a2;
}

nav > ul > li > ul > li a{
    background:#174459;
    display:block;
    height:100%;
    width:100%;
    left:0;
    position:absolute;
    top:-55;

}

body{
    margin:0;
    background: #EDBB99;
    font-family: Verdana;
    font-size:10px
}

#tittle {
 background: #17202A;
}

#menu-play {
    padding: 5px ;
    background: #17202A;
    bottom: 0;
    position: fixed;
    height:8%;
    width: 100%;

}

#menu-tittlesong {
    border-radius: 9px;
    background-color: #17202A;
    float: left;
    width: 60%;
    padding: 9px;
}

table{
    color:#bf9a80;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #cdcdcd;
}
table th, table td{
    padding: 10px;
    text-align: center;
}

/*---------------------------------------------*/
#todo{
     color: #bf9a80;
     justify-content:space-evenly;
     background-color: #212F3C;
     position:relative;
     float:center;
     padding: 20px 50px 20px 20px;

}

#menu-songs {
    overflow: hidden;
    width:40%;
    padding: 20px 50px 20px 20px;
}

#menu-sala {
    overflow: hidden;
    width:40%;
    float:left;
    padding: 20px 50px 20px 20px;
}

#room{
    border: 0;
    color: #17202A;
    background-color: #F2EFED;
    border-radius: 3px;
    width:80%;
    padding: 8px;
}
#room:hover{
    color: #bf9a80;
    background-color: #17202A;
}

#menu-princi {
    overflow: hidden;
    width:40%;
    padding: 20px 50px 20px 20px;
}

#menu-friends {
    overflow: hidden;
    background-color: #212F3C;
    width:40%;
    padding: 20px 50px 20px 20px;
}

#songFind{
    border: 0;
    background-color: #F2EFED;
    border-radius: 3px;
    width:80%;
    padding: 8px;
}

#friends{
    border: 0;
    background-color: #F2EFED;
    border-radius: 3px;
    width:80%;
    padding: 8px;

}



/*---------------------------------------------*/
#boton1{
    float:left;
    border: 0;
    width:10%;
    background-color: #17202A;
}
#boton2{
    float:left;
    border: 0;
    width:10%;
    background-color: #17202A;
}

#youtube-audio{
    float:left;
    border: 0;
    background-color: #17202A;
}

#youtube-audio2{
    float:left;
    border: 0;
    background-color: #17202A;
}

#barraSong {
    border: 0;
    border-radius: 3px;
    width:80%;
    padding: 8px;
}

#toda{
     color: #bf9a80;
     justify-content:space-evenly;
     background-color: #212F3C;
     position:relative;
     float:center;
     width:100%
}

#menu{
     color: #bf9a80;
     overflow: hidden;
     background-color: #212F3C;
     float:left;
     width:40%;
     padding: 20px 50px 20px 20px;

}

#menu-chat{
     color: #bf9a80;
     overflow: hidden;
     background-color: #212F3C;
     float:left;
     width:40%;
     padding: 50px 50px 20px 20px;

}



