* {
    margin:0;
    padding:0;
}

header {
    width:100%;

}

nav{

    margin:0px;
    width:100%;
    max-width:1400px;
}

nav ul {
    list-style:none;
}

nav ul li :hover{
    color:#EDBB99;
    background-color: #212F3C;
    text-shadow: 0 0 2px #000;
}

nav > ul {
    display:table;
    overflow:hidden;
    width:100%;
    background: #17202A;
    position:relative;
}

nav > ul li {
    display:table-cell;
}

nav > ul li a {
    color: #99A3A4;
    display:block;
    padding: 10px 5px;
    line-height:20px;
    position:relative;
    text-align:center;
    text-decoration:none;
}

nav > ul > li > ul > li a:hover {
    background:#5da5a2;
}

nav > ul > li > ul > li a{
    background:#174459;
    display:block;
    height:100%;
    width:100%;
    left:0;
    position:absolute;
    top:-55;

}

body{ margin:0;
    background: #EDBB99;
    font-family: Verdana;
    font-size:10px
}

#tittle {
 background: #17202A;
}

#menu-play {
    padding: 5px 5px;
    background: #17202A;
    bottom: 0;
    position: fixed;
    height:9%;
    width: 100%;
    z-index: 5000;
    list-style:3
}

#menu-play ul {
    display:block;
}

#menu-sala {
    border-radius: 10px;
    overflow: hidden;
    background-color: #f2f2f2;
    float:right;
    width:42%;
    padding: 50px 55px 33px 55px;
}

#menu-princi {
    border-radius: 10px;
    overflow: hidden;
    background-color: #f2f2f2;
    float:right;
    width:42%;
    padding: 50px 55px 33px 55px;
}

#menu-tittlesong {
    border-radius: 9px;
    background-color: #17202A;
    float: left;
    width: 60%;
    padding: 9px;
}

#menu-friends {
    border-radius: 10px;
    overflow: hidden;
    background-color: #f2f2f2;
    float:left;
    width:40%;
    padding: 50px 55px 33px 55px;
}



#boton1{
    border: 0;
    background-color: #17202A;
}
#boton2{

    border: 0;
    background-color: #17202A;
}

#youtube-audio{
    border: 0;
    background-color: #17202A;
}

#youtube-audio2{
    border: 0;
    background-color: #17202A;
    width:30%;
}

input {
    border-radius: 10px;
    width:80%;
    padding: 10px;
}

#menu{
     border-radius: 10px;
     overflow: hidden;
     background-color: #f2f2f2;
     float:left;
     width:40%;
     padding: 200px 10px;
}

#menu-chat{
     border-radius: 10px;
     overflow: hidden;
     background-color: #f2f2f2;
     float:right;
     width:40%;
     padding: 200px 10px;
}



