body{ margin:0;
    background: #ECF0F1;
    font-family: sans-serif;
    font-size:15px
}

#menu-wrapper ul{padding:0;
    list-style:none;
}

#hmenu{
    width: 412px;
    margin: 0 auto;
}

#hmenu > li{
    display: inline-block;
}
#hmenu > li > a{
    color: #fff;
    text-decoration:none;
    display: block;
    padding: 10px 5px;
    width: 90px;
}

#hmenu li:hover{
    background: #138D75;
    text-shadow: 0 0 2px #000;
}

li ul{
    position: absolute;
    display : none;
}
#menu-wrapper, li ul{
    background: #333

}
#buttons{
    display:flex;
    justify-content:right;
    align-items:right;
}


