

body{
    background: #C7CDD6;
    font-family: Verdana;
}

#register{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      border-radius: 1%;
      overflow: hidden;
      background-color: #17202A;
      width:35%;
      padding: 5%;
}
input {
    width:10%;
    padding: 10px;
}




