.container {
    max-width: 750px;
}

.btn {
    background-color: rgb(11, 165, 192);
    color: #fff;
}

.btn:hover,
.btn:active {
    background-color: rgb(15, 132, 153);
    color: #fff;
    transition: all 0.2s;
}

.btn:focus {
    box-shadow: none;
}